/* Medium Layout */
@media only screen and (min-width: 992px) and (max-width: 1280px) {
   .slide-text h2 {
      font-size: 50px;
   }

   h1 {
      font-size: 30px !important;
   }

   h2 {
      font-size: 25px !important;
   }
}


/* Tablet & Mobile Layout */
@media only screen and (max-width: 991px) {

   li.mega_menu_content {
      width: 100%;
   }

   .slicknav_menu {
      display: block;
   }

   .mainmenu {
      display: none;
   }

   .logo a {
      font-size: 16px;
   }

   .header_area {
      margin-top: 5px;
   }

   .slide-text h2 {
      font-size: 19px !important;
   }

   .single_slide_item {
      padding: 100px 10px;
   }

   .space_100 {
      height: 40px;
   }

   .section_padding {
      padding: 30px 0px;
   }

   .tile_gallery {
      height: auto;
      margin-left: 0px;
   }

   .tile_gallery img:nth-child(2n) {
      position: relative;
      right: auto;
      top: auto;
   }

   .tile_gallery img:nth-child(3n) {
      position: relative;
      left: auto;
      bottom: auto;
   }

   .tile_gallery img {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
   }

   .services_bg::before {
      height: 400px;
      width: 100%;
   }

   .services_bg {
      padding-top: 450px;
   }

   .single_service_item:after {
      display: none;
   }

   .text-right.mobile_left {
      text-align: left !important;
   }

   .footer_area .col-md-2,
   .footer_area .col-md-3 {
      margin-top: 50px;
   }

   .slicknav_menu {
      font-size: inherit;
      background: none;
      padding: 0px;
      position: absolute;
      width: 100%;
   }

   .slicknav_btn {
      margin: 0px;
      background: none;
      text-shadow: 0 0 0;
      float: none;
      padding: 12px 0px;
      display: inline-block;
   }

   .slicknav_menu .slicknav_menutxt {
      display: none;
   }

   .slicknav_nav {
      background-color: #0BBBC1;
      margin: 0 auto;
   }

   .slicknav_menu .slicknav_icon {
      float: unset;
   }

   .slicknav_nav .slicknav_row,
   .slicknav_nav a {
      margin: 0px;
      padding: 9px;
   }

   .slicknav_nav .slicknav_row:hover,
   .slicknav_nav a:hover {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      background: #000;
   }

   ul.dropdown_header_menu {
      width: 100%;
      left: -20px;
      text-align: center;
   }

   .slicknav_nav .slicknav_row:focus,
   .slicknav_nav a:focus {
      outline: none;
   }

   ul.mega_menu_1 {
      width: 100%;
      margin: 0px;
      left: 0px;
   }

   ul.mega_menu {
      margin: 0px;
   }

   .services_padding_0 {
      max-width: 100%;
   }

   .section_gray_bg .col-md-4 {
      margin-bottom: 40px;
   }

   /* home2.html page */
   .about_success a {
      margin-bottom: 30px;
   }

   /* blog.html page */
   ul.twist_pagination {
      margin-bottom: 50px;
   }

   /* contact.html page */
   .contact_form {
      padding-left: 0px;
   }

}


/* Tablet Layout */
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .section_padding {
      padding: 20px 0px;
   }

   .tile_gallery {
      text-align: center;
   }

   .tile_gallery img {
      margin-top: 30px;
      width: 100%;
   }

   .skill_bar_inner canvas {
      width: 200px !important;
      height: 200px !important;
   }

}


/* Mobile Layout */
@media only screen and (max-width: 767px) {
   .tile_gallery {
      text-align: center;
   }

   .tile_gallery img {
      margin-top: 30px;
      width: 100%;
   }

   /* single-post.html page */
   .post_share a {
      margin-bottom: 20px;
   }

   .post_share {
      text-align: center;
   }

   a.comment_reply {
      top: 140%;
   }

   .comment_meta {
      margin-bottom: 50px;
   }

   .comment_meta {
      margin-bottom: 50px;
   }

   /* single-service.html page */
   .widegt a.boxed_btn {
      margin-bottom: 50px;
   }

   .service_discription {
      padding-left: 0px;
   }

}