@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

body {
   font-family: 'Noto Sans', sans-serif;
   color: #888888;
   font-size: 14px;
   line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Zilla Slab', serif;
   font-weight: 700;
   color: #000;
   margin: 0px;
   line-height: 1.3;
}

img {
   max-width: 100%;
   height: auto;
}

a:hover,
a:focus {
   text-decoration: none;
}

p,
ul {
   margin: 0;
   padding: 0;
}

input:focus,
button:focus,
textarea:focus {
   outline: none;
}

/*****************************
     Header Section
********************************/

.homepage_slides {
   overflow: hidden;
}

.header_area {
   margin-top: 20px;
}

.slide_bg_1 {
   background-image: url(../img/slide-bg.jpg);
}

.slide_bg_2 {
   background-image: url(../img/slide.jpg);
}

.logo {
   font-size: 20px;
   font-weight: 700;
   margin-top: 11px;
}

.logo a {
   text-decoration: none;
}

.mainmenu {
   position: relative;
   top: 7px;
}

.mainmenu li {
   list-style: none;
   display: inline-block;
}

.mainmenu li a {
   padding: 10px;
   display: block;
   font-size: 16px;
   font-weight: 700;
   font-family: 'Zilla Slab', serif;
}

.mainmenu li:hover a {
   color: #0BBBC1;
}

.mainmenu li:hover .mega_menu,
.mainmenu li:hover .dropdown_header_menu {
   visibility: visible;
}

.dropdown_header_menu {
   position: absolute;
   width: 150px;
   background: #0bbbc1;
   visibility: hidden;
}

.dropdown_header_menu ul li {
   display: block;
   text-align: left;
}

.mega_menu {
   position: absolute;
   background: #0BBBC1;
   width: 100%;
   left: 0%;
   top: 100%;
   padding: 15px 15px;
   visibility: hidden;
   -webkit-transition: .1s;
   -o-transition: .1s;
   transition: .1s;
}

.mega_menu_content h6 {
   color: #fff;
   font-size: 20px;
   text-transform: uppercase;
   border-bottom: 1px solid #fff;
   padding-bottom: 10px;
   margin-bottom: 10px;
   text-align: center;
}

ul.mega_menu_1 li {
   display: block;
   text-align: left;
}

.mega_menu_content ul li a {
   padding-left: 20px;
   color: #fff !important;
}

.dropdown_header_menu ul li a {
   color: #fff !important;
}

.mega_menu_content ul li:hover a,
.dropdown_header_menu ul li:hover a {
   background: #000;
   color: #fff;
}

.margin_padding_0 {
   margin: 0px;
   padding: 10px;
}

/* Menu End */

.header_area.header_absolute a,
.header_absolute .search_icon {
   color: #fff;
}

.search_icon {
   margin-top: 15px;
   display: block;
}

.single_slide_item {
   position: relative;
   background-position: center;
   background-size: cover;
   z-index: 1;
}

.single_slide_item:after {
   position: absolute;
   content: '';
   background-color: #000;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: .66;
}

.slide-text h2 {
   font-size: 60px;
   color: #fff;
}

.owl-carousel .owl-item .slide-text img {
   width: auto;
   display: inline-block;
}

.slide-text h2 span {
   font-weight: 300;
   font-style: italic;
}

.video_btn {
   position: relative;
   display: block;
}

.play_icon {
   position: absolute;
   top: 50%;
   left: 50%;
   background-color: #0bbbc1;
   height: 60px;
   width: 60px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   line-height: 55px;
   margin-left: -30px;
   margin-top: -27px;
}

.video_btn {
   position: relative;
   display: block;
   margin: 50px 0px;
}

.boxed_btn {
   background-color: #0bbbc1;
   padding: 10px 25px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   display: inline-block;
   font-size: 16px;
   font-weight: 700;
}

a.boxed_btn {
   text-decoration: none;
   color: #fff;
}

.boxed_btn i {
   margin-left: 12px;
}

.slide-text {
   padding: 160px 10px;
}

.slide-text a {
   color: #fff;
}

.header_area.header_absolute {
   position: absolute;
   z-index: 3;
   width: 100%;
   top: 0;
   left: 0;
}

.homepage_slides .owl-nav button.owl-next {
   position: absolute;
   top: 50%;
   left: auto;
   right: 5%;
   font-size: 25px;
   color: #fff;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   outline: none;
}

.homepage_slides .owl-nav button.owl-prev {
   position: absolute;
   top: 50%;
   color: #fff;
   left: 5%;
   font-size: 25px;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   outline: none;
}

/*****************************
      Services Section
********************************/
.section_padding {
   padding: 100px 0px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.section_padding h2 {
   font-size: 30px;
   margin-bottom: 30px;
}

.service_c_top p {
   margin: 50px 0px 35px;
}

.space_100 {
   height: 100px;
}

.space_70 {
   height: 70px;
}

.space_45 {
   height: 45px;
}

.space_60 {
   height: 60px;
}

.no_space_top {
   padding-top: 0;
}

.single_promo_box {
   text-align: center;
}

.promo_icon {
   margin-top: 10px;
}

.promo_icon h4 {
   margin-top: 35px;
   font-size: 20px;
}

.promo_icon p {
   margin: 35px 0px;
}

/* tile gallery */
.tile_gallery {
   position: relative;
   height: 687px;
   margin-left: 31px;
}

.tile_gallery img {
   -webkit-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 10px 10px 20px #d7d5d4;
   box-shadow: 10px 10px 20px #d7d5d4;
}

.tile_gallery img:nth-child(2n) {
   position: absolute;
   right: 0%;
   top: 4%;
   z-index: 2;
}

.tile_gallery img:nth-child(3n) {
   position: absolute;
   left: 5%;
   z-index: 3;
   bottom: 0%;
}

.services_bg {
   position: relative;
   overflow: hidden;
}

.services_bg::before {
   background-image: url(../img/services-2-img.png);
   content: ' ';
   top: 0;
   left: 0;
   height: 100%;
   width: 50%;
   position: absolute;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.services_padding_0 {
   padding: 0;
}

.single_service_item {
   position: relative;
   padding-left: 100px;
   padding-top: 30px;
   padding-bottom: 30px;
   display: block;
   color: #888;
}

.single_service_item:hover {
   background-color: #0bbbc1;
   color: #fff;
}

.single_service_item h4 {
   font-size: 20px;
}

.single_service_item:hover h4,
.single_service_item:hover .service_icon {
   color: #fff;
}

.single_service_item:hover:after {
   content: "";
   top: 0;
   left: 100%;
   width: 5000%;
   height: 100%;
   background: #0bbbc1;
   position: absolute;
}

.service_icon {
   width: 85px;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   display: table;
   color: #0bbbc1;
   font-size: 30px;
   text-align: center;
}

.service_icon_table {
   display: table;
   height: 100%;
   width: 100%;
}

.service_icon_tablecell {
   display: table-cell;
   vertical-align: middle;
}

/*  circle skill progress bar */
.single_skill_bar {
   text-align: center;
   margin-top: 50px;
}

.single_skill_bar h3 {
   margin-top: 55px;
   text-transform: capitalize;
}

.skill_bar_inner {
   position: relative;
}

.skill_count_find {
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   font-size: 48px;
   font-weight: 700;
   color: #373737;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

/* Col to action */
.cta_bg_1 {
   background-image: url(../img/col_to_action_bg_1.jpg);
}

.cta_bg_2 {
   background-image: url(../img/home2/home_2-call_to_action_bg.jpg);
}

.black_overlay {
   position: relative;
   z-index: 2;
}

.black_overlay:after {
   content: '';
   background-color: #000;
   width: 100%;
   height: 100%;
   top: 0%;
   left: 0%;
   position: absolute;
   opacity: .71;
   z-index: -1;
}

.black_overlay h1 {
   font-size: 36px;
   margin-bottom: 30px;
}

.black_overlay,
.black_overlay h1,
.black_overlay .boxed_btn {
   color: #fff;
}

.cta_btn a {
   margin-top: 37px;
}

.cta_2 p {
   margin-bottom: 35px;
}


/* portfolio section */
.portfolios h2,
.teams h2 {
   margin-bottom: 30px;
}

.portfolio_bg_1 {
   background-image: url(../img/portfolio/portfolio_1.jpg);
}

.portfolio_bg_2 {
   background-image: url(../img/portfolio/portfolio_2.jpg);
}

.portfolio_bg_3 {
   background-image: url(../img/portfolio/portfolio_3.jpg);
}

.portfolio_bg_4 {
   background-image: url(../img/portfolio/portfolio_4.jpg);
}

.single_portfolio_item {
   height: 310px;
   position: relative;
   background-size: cover;
   background-position: center;
   z-index: 2;
   margin-bottom: 15px;
}

.large {
   height: 636px;
}

.single_portfolio_item:hover .portfolio_hover {
   opacity: 1;
   visibility: visible;
}

.portfolio_hover {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
   -webkit-transition: .3s;
   -o-transition: .3s;
   transition: .3s;
   opacity: 0;
   visibility: hidden;
}

.portfolio_hover:after {
   position: absolute;
   content: '';
   background-color: #000;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: .8;
}

.portfolio_hover h4 {
   margin-top: 20px;
   margin-bottom: 0;
}

.portfolio_hover h4,
.portfolio_hover a {
   color: #fff;
   font-size: 20px;
}

.portfolio_hover_table {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   width: 100%;
   height: 100%;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   text-align: center;
}


/* team list */
.team_list {
   text-align: center;
}

.team_list.owl-carousel .owl-item img {
   width: auto;
   display: inline-block;
}

.single_team_item {
   padding: 60px 35px;
   -webkit-box-shadow: 0px 3px 8px 0px #ddd;
   box-shadow: 0px 3px 8px 0px #ddd;
   margin: 15px;
   background-color: #fbfbfb;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

.single_team_item img {
   -webkit-border-radius: 50%;
   border-radius: 50%;
   width: 150px;
   height: 150px;
   margin-bottom: 40px;
}

.single_team_item h4 {
   font-size: 18px;
   margin-bottom: 30px;
}

.single_team_item span {
   display: block;
   color: #888888;
   font-size: 14px;
   font-weight: 700;
   font-family: 'Noto Sans', sans-serif;
   margin-top: 10px;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
   display: unset;
}

.owl-carousel .owl-nav.disabled {
   display: none;
}

.team_list.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
   background: #0bbbc1;
}

/* testimonial section start */
.testimonial_bg_1 {
   background: url(../img/testimonial/testimonial_bg.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.testimonial_bg_1 h2 {
   color: #fff;
   margin-bottom: 30px;
   font-size: 28px;
}

.testimonial_list {
   margin-top: 57px;
   text-align: center;
}

.single_testimonial_item {
   padding: 40px 25px;
   background: #fff;
   color: #000;
   font-weight: 700;
   text-align: center;
   font-size: 16px;
   font-style: italic;
   font-family: 'Zilla Slab', serif;
   margin: 15px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

.testimonial_area .single_testimonial_item {
   -webkit-box-shadow: 0px 0px 10px 2px #ddd;
   box-shadow: 0px 0px 10px 2px #ddd;
}

.single_testimonial_item h5 {
   font-size: 14px;
   margin-top: 30px;
   margin-bottom: 0px;
   font-style: normal;
}

.single_testimonial_item h5 span {
   display: block;
   font-weight: 300;
   font-style: normal;
   font-size: 12px;
   font-family: 'Noto Sans', sans-serif;
}

.testimonial_icon {
   font-size: 30px;
   margin-bottom: 12px;
   color: #0bbbc1;
}

.owl-carousel .owl-item .single_brand_logo_item img {
   width: auto;
   margin: 0 auto;
}

.testimonial_list.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
   background: #0bbbc1;
}

/* testimonial section end */

/* brand logo start */
.brand_logo_carousel {
   margin: -20px 0px;
}

.single_brand_logo_item {
   display: table;
   width: 100%;
   height: 70px;
}

.brand_logo_inner {
   display: table-cell;
   vertical-align: middle;
}

/* brand logo end */

/* Footer area start */
.footer_area {
   background: #f5f5f5;
   padding: 100px 0px;
}

.footer_area ul {
   margin: 0;
   padding: 0;
   font-weight: 700;
   list-style: none;
   line-height: 2;
   font-family: 'Zilla Slab', serif;
   font-size: 16px;
}

.footer_area ul li a {
   color: #000;
}

.footer_logo a {
   font-size: 20px;
   color: #000;
   font-weight: 700;
   font-family: 'Zilla Slab', serif;
}

.footer_card {
   margin-bottom: 10px;
}

.footer_card p {
   margin-top: 20px;
}

.footer_card:last-child {
   margin-bottom: 0;
}

.social h3 {
   font-size: 20px;
   margin-bottom: 20px;
}

.social_links a {
   width: 40px;
   height: 40px;
   border: 1px solid #333;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   font-size: 20px;
   color: #333;
   display: inline-block;
   line-height: 38px;
   text-align: center;
   margin-right: 2px;
   margin-bottom: 2px;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}

.social_links a:hover {
   background-color: #0bbbc1;
   color: #fff;
   border-color: #0bbbc1;
}

/* Footer area end */


/**********************
   Home page 2 Start
 **********************/

/* hero area start */
.hero_area {
   background-image: url(../img/home2/hero_bg.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   z-index: 1;
   padding-top: 180px;
   padding-bottom: 130px;
}

.hero_area:after {
   content: '';
   position: absolute;
   background: #000;
   opacity: .5;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: -1;
}

.herot_text {
   font-size: 16px;
   color: #fff;
}

.hero_table_cell {
   display: table-cell;
   height: 455px;
}

.herot_text h2 {
   font-size: 45px;
   color: #fff;
   margin-bottom: 22px;
   line-height: 45px;
}

.register_now_form {
   background: #fff;
   padding: 60px;
   border-top: 10px solid #0bbbc1;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

.register_now_form h3 {
   font-size: 24px;
   margin-top: -10px;
   margin-bottom: 55px;
}

.register_now_form h3 span {
   color: #e60909;
}

.register_now_form p {
   margin-bottom: 30px;
}

.register_now_form p:last-child {
   margin-bottom: 0px;
}

.register_now_form input[type=submit] {
   width: 100%;
   font-family: 'Zilla Slab', serif;
   font-size: 16px;
   font-weight: 700;
   cursor: pointer;
   background: #0bbbc1;
   border: none;
   color: #fff;
}

.register_now_form input {
   padding: 10px;
   width: 100%;
}

/* hero area end */


/* home 2 about area start */
.section_gray_bg {
   background-color: #fbfbfb;
}

.section_gray_bg h4 {
   font-size: 20px;
}

.section_gray_bg p {
   margin-top: 20px;
}

.about_success a {
   margin-top: 45px;
}

.about_success h2 {
   margin-bottom: 26px;
}

.ticket_text {
   background: #303030;
   padding: 5px 30px;
   display: inline-block;
   color: #fff;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   margin-bottom: 20px;
}

/* home 2 about area end */


/* home 2 services area start */

.margin_80 {
   margin: 80px 0px;
}

.margin_bottom_50 {
   margin-bottom: 50px;
}

.service_box:hover {
   background: #ddd;
}

.service_box {
   background: #fff;
   padding: 30px 20px;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}

.service_box .service_icon {
   position: relative;
   text-align: center;
   width: 100%;
   font-size: 45px;
   line-height: 70px;
   height: 70px;
}

.service_box h4 {
   font-size: 20px;
   margin: 20px 0px;
}

.service_box {
   margin-bottom: 50px;
}

/* home 2 services area end */


/* home 2 our team area start */
.margin_20 {
   margin: 20px 0px;
}

.single_team_item {
   -webkit-box-shadow: 0px 0px 8px #ddd;
   box-shadow: 0px 0px 8px #ddd;
   border: 2px solid transparent;
   -webkit-transition: .2s;
   -o-transition: .2s;
   transition: .2s;
}

.single_team_item:hover {
   border: 2px solid #0bbbc1;
   -webkit-box-shadow: 0px 0px 0px;
   box-shadow: 0px 0px 0px;
}

/* home 2 our team area end */
.single_blog_box {
   -webkit-box-shadow: 0px 0px 8px #f1f1f1;
   box-shadow: 0px 0px 8px #f1f1f1;
   padding: 27px;
}

.single_blog_box a {
   color: #0bbbc1;
   font-weight: 700;
   font-family: 'Zilla Slab', serif;
}

.single_blog_box a i {
   padding-left: 5px;
}

.single_blog_box h3 {
   font-size: 18px;
   margin: 15px 0px;
}

.footer_area.dark_bg {
   background: #131313;
}

.footer_area.dark_bg h3,
.footer_area.dark_bg a,
.footer_area.dark_bg p {
   color: #fff;
}

.dark_bg .social_links a {
   border-color: #fff;
}

.dark_bg .social_links a:hover {
   border-color: #0bbbc1;
}


/* About Page Start */
.about_service_bg {
   background-image: url(../img/about/about-service-bg.jpg);
}

.breadcrumb_bg_1 {
   background-image: url(../img/about/about_header_bg.jpg);
}

.breadcrumb_area {
   font-size: 16px;
   padding-top: 180px;
   padding-bottom: 130px;
}

.breadcrumb_area,
.breadcrumb_area a {
   color: #fff;
}

.breadcrumb_area h2 {
   font-size: 36px;
   color: #fff;
}

.breadcrumb_area i {
   padding: 0px 10px;
}

.about_service_icon img {
   max-width: 50px;
   margin-bottom: 15px;
}

.about_service_bg h4 {
   color: #fff;
}

.about_service_bg p {
   margin-top: 30px;
}

/* About Page End */


/* Single Service Page Start */
.widget {
   background-color: #fafafa;
   padding: 30px;
   margin-bottom: 30px;
}

.widegt a.boxed_btn {
   -webkit-border-radius: 0% !important;
   border-radius: 0% !important;
   width: 100%;
   text-align: center;
   padding: 12px;
   margin-top: 30px;
}

.widget.nav_menu {
   padding: 0;
   background-color: transparent;
}

.nav_menu ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.nav_menu ul li a {
   background: #fafafa;
   text-decoration: none;
   display: block;
   margin-bottom: 20px;
   padding: 15px 30px;
   color: #333;
   font-weight: 700;
   font-family: 'Zilla Slab', serif;
   -webkit-transition: .1s;
   -o-transition: .1s;
   transition: .1s;
}

.nav_menu ul li a:hover {
   background: #0bbbc1;
   color: #fff;
}

.service_discription {
   padding-left: 20px;
}

.service_discription img {
   width: 100%;
   height: 500px;
}

.service_discription h3 {
   margin-top: 40px;
   margin-bottom: 10px;
}

/* Single Service Page End */


/* Portfolio Page Start */
.portfolio_filter li {
   list-style: none;
   display: inline-block;
   font-size: 15px;
   padding: 10px 15px;
   font-weight: 700;
   font-family: 'Zilla Slab', serif;
   color: #000;
   cursor: pointer;
}

li.portfolio_active {
   color: #0bbbc1;
}

/* Portfolio Page End */


/* Single Portfolio Page Start */
.single_portfolio h3 {
   margin-bottom: 20px;
   font-size: 24px;
}

/* Single Portfolio Page End */


/* FAQ Page Start */
.card.twist_faq {
   border: none;
   -webkit-box-shadow: 0px 2px 4px 3px #f1eef5;
   box-shadow: 0px 2px 4px 3px #f1eef5;
   margin-bottom: 20px;
   -webkit-border-radius: 0%;
   border-radius: 0%;
}

.twist_faq .card-header {
   border: none;
   background-color: #fbfbfb;
   padding: 0;
}

.twist_faq .card-body {
   color: #777777;
   background: #fbfbfb;
}

.twist_faq button.btn.btn-link {
   color: #222222;
   text-decoration: none;
   font-size: 18px;
   font-weight: 700;
   font-family: 'Zilla Slab', serif;
   width: 100%;
   text-align: left;
   padding: 25px 25px;
   position: relative;
}

.twist_faq button.btn.btn-link[aria-expanded="true"]:after {
   content: '-';
}

.twist_faq button.btn.btn-link:after {
   position: absolute;
   content: '+';
   right: 25px;
   background-color: #0BBBC1;
   color: #fff;
   height: 30px;
   width: 30px;
   font-size: 25px;
   text-align: center;
   line-height: 28px;
   margin-top: -2px;
}

/* FAQ Page End */

/* Blog Page Start */
.blog_thumb_1 {
   background-image: url(../img/blog/blog_post_bg_1.jpg);
}

.blog_thumb_2 {
   background-image: url(../img/blog/blog_post_bg_2.jpg);
}

.blog_thumb_3 {
   background-image: url(../img/blog/blog_post_bg_3.jpg);
}

.blog_thumb_4 {
   background-image: url(../img/blog/blog_post_bg_4.jpg);
}

.blog_thumb_5 {
   background-image: url(../img/blog/blog_post_bg_5.jpg);
}

.blog_thumb {
   background-position: center;
   background-size: cover;
   height: 300px;
   margin-bottom: 30px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #ddd;
}

.post_date {
   color: #777777;
   text-transform: uppercase;
}

.post_desc {
   padding-top: 25px;
}

.post_desc h3 {
   font-size: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.blog_excerpt p {
   margin-bottom: 15px;
}

.blog_readmore_btn {
   color: #0bbbc1;
   font-weight: 700;
}

.blog_readmore_btn:hover {
   color: #30ccd2;
}

ul.twist_pagination li a {
   border: none;
   background-color: #f9f9f9;
   width: 50px;
   height: 50px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   margin-right: 10px;
   font-size: 18px;
   display: block;
   line-height: 35px;
   text-align: center;
   color: #333333;
   font-family: 'Zilla Slab', serif;
   font-weight: 700;
}

ul.twist_pagination li a:hover {
   background-color: #0bbbc1;
   color: #fff;
}

ul.twist_pagination .page-link:focus {
   border: none;
   -webkit-box-shadow: none;
   box-shadow: none;
}

ul.twist_pagination .page-item.active .page-link {
   background-color: #0bbbc1;
   color: #fff;
}

ul.twist_pagination .page-item:first-child .page-link {
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

ul.twist_pagination .page-item:last-child .page-link {
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

.widegt.widget_search {
   -webkit-box-shadow: 0px 0px 5px #ddd;
   box-shadow: 0px 0px 5px #ddd;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   padding: 15px 30px;
   margin-bottom: 60px;
}

.widegt.widget_search [type=search] {
   outline-offset: 0px;
   -webkit-appearance: 0px;
   -moz-appearance: 0px;
   appearance: 0px;
   border: none;
}

.widegt.widget_search input::-webkit-input-placeholder {
   color: #a7a7a7;
}

.widegt.widget_search input:-ms-input-placeholder {
   color: #a7a7a7;
}

.widegt.widget_search input::-ms-input-placeholder {
   color: #a7a7a7;
}

.widegt.widget_search input::-moz-placeholder {
   color: #a7a7a7;
}

.widegt.widget_search input::placeholder {
   color: #a7a7a7;
}

.widegt.widget_search [type=submit] {
   border: none;
   background: none;
   float: right;
   color: #222;
}

.thumb_posts {
   margin: 0;
   padding: 0;
   margin-top: 50px;
}

.thumb_posts li {
   list-style: none;
   border-bottom: 1px solid #E4E4E4;
   padding-bottom: 10px;
   margin-bottom: 20px;
   ;
}

.thumb_posts li:last-child {
   margin-bottom: 0;
   padding-bottom: 0;
   border: none;
}

.thumb_posts li img {
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

.thumb_posts h3 {
   font-size: 18px;
   margin-bottom: 10px;
   line-height: 1.5;
}

.thumb_posts li h3 a {
   color: #333;
}

.align_left {
   float: left;
   margin-right: 15px;
}

.thumb_posts .post_date {
   text-transform: lowercase;
}

/* Blog Page End */


/* Single-Post Page Start */
.post_featured_content {
   margin-bottom: 70px;
}

.article_title {
   font-size: 24px;
   color: #222;
   margin-bottom: 30px;
}

.entry_content p {
   margin-bottom: 20px;
}

.entry_content blockquote {
   font-size: 14px;
   background-color: #fbfbfb;
   color: #8b8b8b;
   border: none;
   margin: 0 8% 20px;
   padding: 30px 60px;
}

.post_share {
   margin: 70px 0px;
}

.post_share a {
   color: #fff;
   background-color: #275BAA;
   display: inline-block;
   padding: 12px 30px;
   -webkit-border-radius: 30px;
   border-radius: 30px;
   margin-right: 10px;
   font-weight: 600;
}

.post_share i.fa {
   padding-right: 5px;
}

.post_share a.tweeter_share_btn {
   background-color: #28C8F0;
}

.post_share a.pinterest_share_btn {
   background-color: #D6061E;
}

.author_details {
   margin-bottom: 70px;
}

.author_details h4 {
   margin-bottom: 20px;
   font-size: 16px;
}

.comment_list {
   margin-bottom: 70px;
}

h2.commet_title,
.comment_form h2 {
   font-size: 24px;
   position: relative;
   margin-bottom: 60px;
   padding-bottom: 10px;
}

h2.commet_title:after,
.comment_form h2:after {
   content: '';
   position: absolute;
   background: #0bbbc1;
   height: 3px;
   width: 50px;
   left: 0;
   bottom: 0;
}

ul.commets {
   margin: 0;
   padding: 0;
}

ul.commets li {
   background-color: #FBFBFB;
   list-style: none;
   padding: 30px;
   margin-bottom: 30px;
   position: relative;
   padding-left: 140px;
}

img.comments_author_img {
   position: absolute;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   left: 30px;
   top: 30px;
}

.comment_meta {
   margin-bottom: 30px;
   position: relative;
   font-size: 12px;
}

.comment_meta h4 {
   margin-bottom: 5px;
   font-size: 16px;
   color: #222;
}

a.comment_reply {
   float: right;
   font-family: 'Zilla Slab', serif;
   font-weight: 700;
   font-size: 16px;
   color: #222;
   top: 5%;
   right: 5%;
   position: absolute;
   -webkit-transition: .2s;
   -o-transition: .2s;
   transition: .2s;
}

ul.commets li:hover a.comment_reply {
   color: #0bbbc1;
}

.comment_form input[type=text],
.comment_form input[type=email],
.comment_form input[type=url],
.comment_form textarea {
   padding: 10px;
   width: 100%;
   margin-bottom: 20px;
   border: 1px solid #ddd;
}

.comment_form input::-webkit-input-placeholder,
.comment_form textarea::-webkit-input-placeholder {
   color: #8b8b8b;
}

.comment_form input:-ms-input-placeholder,
.comment_form textarea:-ms-input-placeholder {
   color: #8b8b8b;
}

.comment_form input::-ms-input-placeholder,
.comment_form textarea::-ms-input-placeholder {
   color: #8b8b8b;
}

.comment_form input::-webkit-input-placeholder,
.comment_form textarea::-webkit-input-placeholder {
   color: #8b8b8b;
}

.comment_form input::-moz-placeholder,
.comment_form textarea::-moz-placeholder {
   color: #8b8b8b;
}

.comment_form input:-ms-input-placeholder,
.comment_form textarea:-ms-input-placeholder {
   color: #8b8b8b;
}

.comment_form input::-ms-input-placeholder,
.comment_form textarea::-ms-input-placeholder {
   color: #8b8b8b;
}

.comment_form input::-webkit-input-placeholder,
.comment_form textarea::-webkit-input-placeholder {
   color: #8b8b8b;
}

.comment_form input::-moz-placeholder,
.comment_form textarea::-moz-placeholder {
   color: #8b8b8b;
}

.comment_form input:-ms-input-placeholder,
.comment_form textarea:-ms-input-placeholder {
   color: #8b8b8b;
}

.comment_form input::-ms-input-placeholder,
.comment_form textarea::-ms-input-placeholder {
   color: #8b8b8b;
}

.comment_form input::placeholder,
.comment_form textarea::placeholder {
   color: #8b8b8b;
}


.comment_form textarea {
   height: 120px;
}

.comment_form input[type=submit] {
   border: none;
   background: #0bbbc1;
   padding: 12px 30px;
   color: #fff;
   font-weight: 700;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   cursor: pointer;
}

/* Single-Post Page End */

/* Contact Page Start */
.contact_box {
   background-image: url(../img/contact_box_bg.jpg);
   background-size: cover;
   background-position: center;
   z-index: 1;
   position: relative;
   padding: 80px 65px;
}

.contact_box:after {
   position: absolute;
   content: '';
   background-color: #112e2f;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: .85;
}

.contact_box,
.contact_box h3,
.contact_box h2 {
   color: #fff;
}

.contact_box h2 {
   font-size: 28px;
   margin-bottom: 40px;
}

.contact_box h3 {
   font-size: 20px;
   margin-bottom: 5px;
}

.single_contact_info {
   margin-bottom: 30px;
}

.single_contact_info:last-child {
   margin-bottom: 0px;
}

.single_contact_info h3 i {
   padding-right: 5px;
}

.contact_form {
   padding: 35px 0px;
   padding-left: 10px;
}

.contact_form h2 {
   font-size: 28px;
   margin-bottom: 30px;
}

.contact_form textarea {
   height: 200px;
}

.contact_form input[type=text],
.contact_form input[type=email],
.contact_form input[type=tel],
.contact_form textarea {
   width: 100%;
   padding: 10px;
   margin-bottom: 20px;
   border: 1px solid #ddd;
}

.contact_form input[type=submit],
.contact_form button[type=submit] {
   color: #fff;
   border: none;
   background-color: #0bbbc1;
   padding: 10px 30px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   font-weight: 700;
   font-family: 'Zilla Slab', serif;
   letter-spacing: 1px;
   cursor: pointer;
}

/* Contact Page End */


/* 404 Page Start */
.error_content h1 {
   font-size: 60px;
   color: #0BBBC1;
   text-shadow: 1px 2px 5px;
   margin-bottom: 40px;
}

.error_content p {
   font-size: 16px;
}

/* 404 Page End */